:root {
    --branco: #f9f9f9;
    --azul: #36A1DB;
}

header {
    background-color: var(--azul);
    color: var(--branco);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--branco);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 80px;
    height: auto;
}

footer {
    background-color: var(--azul);
    color: var(--branco);
    text-align: center;
    padding: 20px;
}